
    <nav id="myNavmenu" style="background-color: #808080" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
        <div class="list-group panel" >
            <p class="list-group-item siderbar-top" title="" style="background-color: #808080" ><img style="width:100%" src="{{url('images/flarepoint_logo.png')}}" alt="" style="display: block; margin-left: auto; margin-right: auto;"></p>
            <a style="background-color: #808080" href="{{route('dashboard', \Auth::id())}}" class=" list-group-item" data-parent="#MainMenu"><i
                        class="glyphicon sidebar-icon glyphicon-dashboard"></i><span id="menu-txt">{{ __('Dashboard') }}</span> </a>
            <a style="background-color: #808080" href="{{route('users.show', \Auth::id())}}" class=" list-group-item" data-parent="#MainMenu"><i
                        class="glyphicon sidebar-icon glyphicon-user"></i><span id="menu-txt">{{ __('Profile') }}</span> </a>

                        @if(Entrust::can('client-read'))

            <a style="background-color: #808080" href="#clients" class=" list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                        class="glyphicon sidebar-icon glyphicon-tag"></i><span id="menu-txt">{{ __('Clients') }}</span>
            <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
            <div class="collapse" id="clients">

                <a style="background-color: black" href="{{ route('clients.my')}}" class="list-group-item childlist">{{ __('My Clients') }}</a>
                <a style="background-color: black" href="{{ route('clients.index')}}" class="list-group-item childlist">{{ __('All Clients') }}</a>
                @if(Entrust::can('client-create'))
                    <a style="background-color: black" href="{{ route('clients.create')}}"
                       class="list-group-item childlist">{{ __('New Client') }}</a>
                       <a style="background-color: black" href="/masseClient"
                       class="list-group-item childlist">{{ __('Masse Client') }}</a>
                @endif
            </div>
            @endif
           
           
           
            @if(Entrust::can('equipement-read'))

            <a style="background-color: #808080" href="#contacts" class=" list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                        class="glyphicon sidebar-icon glyphicon glyphicon-bed"></i><span id="menu-txt">{{ __('Equipements') }}</span>
            <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
            <div class="collapse" id="contacts">

                {{-- <a href="{{ route('contacts.my')}}" class="list-group-item childlist">{{ __('My Contacts') }}</a> --}}
                <a style="background-color: black"href="{{ route('contacts.index')}}" class="list-group-item childlist">{{ __('Equipements') }}</a>
                @if(Entrust::can('equipement-create'))
                    <a style="background-color: black" href="{{ route('contacts.create')}}"
                       class="list-group-item childlist">{{ __('Nouvel equipement') }}</a>
                @endif
            </div>
            @endif
            {{-- <a href="#tasks" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                        class="glyphicon sidebar-icon glyphicon-tasks"></i><span id="menu-txt">{{ __('Tasks') }}</span>
            <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
            <div class="collapse" id="tasks">
                <a href="{{ route('tasks.my')}}" class="list-group-item childlist">{{ __('My Tasks') }}</a>
                <a href="{{ route('tasks.index')}}" class="list-group-item childlist">{{ __('All Tasks') }}</a>
                @if(Entrust::can('task-create'))
                    <a href="{{ route('tasks.create')}}" class="list-group-item childlist">{{ __('New Task') }}</a>
                @endif
            </div>

            <a href="#leads" class=" list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                        class="glyphicon sidebar-icon glyphicon-hourglass"></i><span id="menu-txt">{{ __('Leads') }}</span>
            <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
            <div class="collapse" id="leads">
                <a href="{{ route('leads.my')}}" class="list-group-item childlist">{{ __('My Leads') }}</a>
                <a href="{{ route('leads.index')}}" class="list-group-item childlist">{{ __('All Leads') }}</a>
                @if(Entrust::can('lead-create'))
                    <a href="{{ route('leads.create')}}"
                       class="list-group-item childlist">{{ __('New Lead') }}</a>
                @endif
            </div> --}}
            @if(Entrust::can('user-read'))

            <a style="background-color: #808080" href="#user" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                        class="sidebar-icon fa fa-users"></i><span id="menu-txt">{{ __('Users') }}</span>
            <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
            <div class="collapse" id="user">
                <a style="background-color: black" href="{{ route('users.index')}}" class="list-group-item childlist">{{ __('Users All') }}</a>
                @if(Entrust::can('user-create'))
                    <a style="background-color: black" href="{{ route('users.create')}}"
                       class="list-group-item childlist">{{ __('New User') }}</a>
                @endif
            </div>
            @endif


            

            @if(Entrust::can('abonnement-read'))

            <a style="background-color: #808080" href="#abonnements" class=" list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                        class="glyphicon sidebar-icon glyphicon-file"></i><span id="menu-txt">{{ __('Abonnements') }}</span>
            <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
            <div class="collapse" id="abonnements">
                {{-- <a href="{{ route('abonnements.my')}}" class="list-group-item childlist">{{ __('Mes Abonnes') }}</a> --}}
                <a style="background-color: black" href="{{ route('abonnements.index')}}" class="list-group-item childlist">{{ __('Abonnements') }}</a>
                @if(Entrust::can('abonnement-create'))

                <a style="background-color: black" href="{{ route('abonnements.create')}}" class="list-group-item childlist">{{ __('Nouvel Abonnement') }}</a>
                @endif

            </div>
            @endif
            @if(Entrust::can('boitier-read'))

            <a style="background-color: #808080" href="#boitiers" class=" list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                class="glyphicon sidebar-icon glyphicon-scale"></i><span id="menu-txt">{{ __('Boitiers') }}</span>
                <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
                <div class="collapse" id="boitiers">
                    {{-- <a href="{{ route('abonnements.my')}}" class="list-group-item childlist">{{ __('Mes Abonnes') }}</a> --}}
                    <a style="background-color: black" href="{{ route('boitiers.index')}}" class="list-group-item childlist">{{ __('Boitiers') }}</a>
                    @if(Entrust::can('boitier-create'))
                    <a style="background-color: black" href="{{ route('boitiers.create')}}" class="list-group-item childlist">{{ __('Nouveau Boitier') }}</a>
                    @endif
                </div>
                @endif
                @if(Entrust::hasRole('administrator')) 
            <a style="background-color: #808080" href="#departments" class=" list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                        class="sidebar-icon glyphicon glyphicon-list-alt"></i><span id="menu-txt">{{ __('Departments') }}</span>
            <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
            <div class="collapse" id="departments">
                <a style="background-color: black" href="{{ route('departments.index')}}"
                   class="list-group-item childlist">{{ __('All Departments') }}</a>
                                     <a style="background-color: black" href="{{ route('departments.create')}}"
                       class="list-group-item childlist">{{ __('New Department') }}</a>
                
              

            </div>
            @endif

            @if(Entrust::hasRole('administrator'))

            <a style="background-color: #808080" href="#pays" class=" list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                class="sidebar-icon glyphicon glyphicon-globe"></i><span id="menu-txt">{{ __('Pays') }}</span>
                <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
                <div class="collapse" id="pays">
                    <a style="background-color: black" href="{{ route('pays.index')}}"
                    class="list-group-item childlist">{{ __('Tous les pays') }}</a>
                        <a style="background-color: black" href="{{ route('pays.create')}}"
                        class="list-group-item childlist">{{ __('Ajouter un pays') }}</a>
                 
                </div>
                @endif

            @if(Entrust::hasRole('administrator'))
                <a style="background-color: #808080" href="#settings" class=" list-group-item" data-toggle="collapse" data-parent="#MainMenu"><i
                            class="glyphicon sidebar-icon glyphicon-cog"></i><span id="menu-txt">{{ __('Settings') }}</span>
                <i class="ion-chevron-up  arrow-up sidebar-arrow"></i></a>
                <div class="collapse" id="settings">
                    <a style="background-color: black" href="{{ route('settings.index')}}"
                       class="list-group-item childlist">{{ __('Overall Settings') }}</a>
                    <a style="background-color: black" href="{{ route('roles.index')}}"
                       class="list-group-item childlist">{{ __('Role Management') }}</a>
                    {{-- <a style="background-color: black" href="{{ route('integrations.index')}}"
                       class="list-group-item childlist">{{ __('Integrations') }}</a> --}}
                </div>
            @endif
            <a style="background-color: #808080" href="{{ url('/logout') }}" class=" list-group-item impmenu" data-parent="#MainMenu"><i
                        class="glyphicon sidebar-icon glyphicon-log-out"></i><span id="menu-txt">{{ __('Sign Out') }}</span> </a>

        </div>
    </nav>

















    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <img style="width:80%" src="{{url('images/flarepoint_logo.png')}}" alt="" style="display: block; margin-left: auto; margin-right: auto; ">
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                        <a href="{{route('dashboard', \Auth::id())}}" class="nav-link "><span class="pcoded-micon"><i class="glyphicon sidebar-icon glyphicon-dashboard"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a href="{{route('users.show', \Auth::id())}}" class="nav-link "><span class="pcoded-micon"><i class="glyphicon sidebar-icon glyphicon-user"></i></span><span class="pcoded-mtext">Profil</span></a>
                        </li>
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>
                    </li>
                    
                    @if(Entrust::can('user-read'))

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-users"></i></span><span class="pcoded-mtext">Utilisateurs</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a style="background-color: black" href="{{ route('users.index')}}" class="">{{ __('Users All') }}</a></li>
                            @if(Entrust::can('user-create'))
                            <li class=""> <a style="background-color: black" href="{{ route('users.create')}}"
                                class="">{{ __('New User') }}</a></li>
                            @endif

                        </ul>
                    </li>
                    @endif


                    @if(Entrust::can('client-read'))

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-user-tie"></i></span><span class="pcoded-mtext">Clients</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a style="background-color: black" href="{{ route('clients.my')}}" class="">{{ __('My Clients') }}</a>
                            </li>
                            <li class=""><a style="background-color: black" href="{{ route('clients.index')}}" class="">{{ __('All Clients') }}</a>
                            </li>
                            @if(Entrust::can('client-create'))
                            <li class=""> <a style="background-color: black" href="{{ route('clients.create')}}"
                                class="">{{ __('New Client') }}</a></li>
                                <li class=""> <a style="background-color: black" href="/masseClient"
                                    class="">{{ __('Masse Client') }}<span class="pcoded-badge label label-danger">NEW</span></a></li>

                            @endif

                        </ul>
                    </li>
                    @endif


                    @if(Entrust::can('equipement-read'))

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-truck"></i></span><span class="pcoded-mtext">Equipements</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a style="background-color: black"href="{{ route('contacts.index')}}" class="list-group-item childlist">{{ __('Equipements') }}</a></li>
                            @if(Entrust::can('equipement-create'))
                            <li class="">  <a style="background-color: black" href="{{ route('contacts.create')}}"
                                class="list-group-item childlist">{{ __('Nouvel equipement') }}</a></li>
                               
                            @endif

                        </ul>
                    </li>
                    @endif

                    @if(Entrust::can('boitier-read'))

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-hdd-o "></i></span><span class="pcoded-mtext">Boitiers</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a style="background-color: black" href="{{ route('boitiers.index')}}" class="list-group-item childlist">{{ __('Boitiers') }}</a>
                            </li>
                            @if(Entrust::can('boitier-create'))
                            <li class=""><a style="background-color: black" href="{{ route('boitiers.create')}}" class="list-group-item childlist">{{ __('Nouveau Boitier') }}</a>
                            </li>
                               
                            @endif

                        </ul>
                    </li>
                    @endif


                    @if(Entrust::can('abonnement-read'))

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-file"></i></span><span class="pcoded-mtext">Abonnements</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a style="background-color: black" href="{{ route('boitiers.index')}}" class="list-group-item childlist">{{ __('Boitiers') }}</a>
                            </li>
                            @if(Entrust::can('boitier-create'))
                            <li class=""><a style="background-color: black" href="{{ route('boitiers.create')}}" class="list-group-item childlist">{{ __('Nouveau Boitier') }}</a>
                            </li>
                               
                            @endif

                        </ul>
                    </li>
                    @endif




                    {{-- <li class="nav-item pcoded-menu-caption">
                        <label>Forms & table</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                        <a href="form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form elements</span></a>
                    </li>
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a href="tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
                    </li>--}}
                    <li class="nav-item pcoded-menu-caption"> 
                        <label>Chart & Maps</label>
                    </li>
                    @if(Entrust::hasRole('administrator'))

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-globe"></i></span><span class="pcoded-mtext">Pays</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""> <a style="background-color: black" href="{{ route('pays.index')}}"
                                class="list-group-item childlist">{{ __('Tous les pays') }}</a> </li>
                            <li class="">                        <a style="background-color: black" href="{{ route('pays.create')}}"
                                class="list-group-item childlist">{{ __('Ajouter un pays') }}</a>  </li>
                           

                        </ul>
                    </li>
                    @endif
                    @if(Entrust::hasRole('administrator'))

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-bars "></i></span><span class="pcoded-mtext">Departements</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">  <a style="background-color: black" href="{{ route('departments.index')}}"
                                class="list-group-item childlist">{{ __('All Departments') }}</a> </li>
                            <li class=""> <a style="background-color: black" href="{{ route('departments.create')}}"
                                class="list-group-item childlist">{{ __('New Department') }}</a>  </li>
                           

                        </ul>
                    </li>
                    @endif
                    @if(Entrust::hasRole('administrator'))

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-cogs "></i></span><span class="pcoded-mtext">Settings</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""> <a style="background-color: black" href="{{ route('settings.index')}}"
                                class="list-group-item childlist">{{ __('Overall Settings') }}</a> </li>
                            <li class=""> <a style="background-color: black" href="{{ route('roles.index')}}"
                                class="list-group-item childlist">{{ __('Role Management') }}</a></li>
                           

                        </ul>
                    </li>
                    @endif
                    <li class="nav-item pcoded-menu-caption">
                        <label>Comptes</label>
                    </li>
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        {{-- <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a> --}}
                        {{-- <ul class="pcoded-submenu">
                            <li class=""><a href="auth-signup.html" class="" target="_blank">Sign up</a></li>
                            <li class=""><a href="auth-signin.html" class="" target="_blank">Sign in</a></li>
                        </ul> --}}
                    </li>
                    {{-- <li data-username="Sample Page" class="nav-item"><a href="sample-page.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li> --}}
                    <li data-username="Disabled Menu" class="nav-item disabled"><a href="{{ url('/logout') }}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Se deconnecter</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
   



    heading biii
    <div id="wrapper" style="background-color:#ffffff">

        <button style="background-color:black" type="button" class="navbar-toggle menu-txt-toggle" style=""><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
    
        <div class="navbar navbar-default navbar-top" style="background-color:#808080">
            <!--NOTIFICATIONS START-->
    <div class="menu">
    
        <div class="notifications-header"><p>{{__('Notifications')}}</p> </div>
      <!-- Menu -->
     <ul>
     <?php $notifications = auth()->user()->unreadNotifications; ?>
    
        @foreach($notifications as $notification)
    
        <a href="{{ route('notification.read', ['id' => $notification->id])  }}" onClick="postRead({{ $notification->id }})">
        <li>
     {{-- <img src="/{{ auth()->user()->avatar }}" class="notification-profile-image"> --}}
        <p>{{ $notification->data['message']}}</p></li>
        </a>
        @endforeach
      </ul>
    </div>
    
           <div class="dropdown" id="nav-toggle">
                <a id="notification-clock" role="button" data-toggle="dropdown">
                    <i  class="glyphicon glyphicon-bell " style= "color:#FBB732"><span  id="notifycount">{{ $notifications->count() }}</span></i>
                </a>
                    </div>
                        @push('scripts')
                        <script>
                            $('#notification-clock').click(function(e) {
                            e.stopPropagation();
                            $(".menu").toggleClass('bar')
                            });
                            $('body').click(function(e) {
                            if ($('.menu').hasClass('bar')) {
                                $(".menu").toggleClass('bar')
                            }
                            })
                            id = {};
                                    function postRead(id) {
                                        $.ajax({
                                            type: 'post',
                                            url: '{{url('/notifications/markread')}}',
                                            data: {
                                                id: id,
                                            },
                                            headers: {
                                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                                            }
                                        });
    
                                    }
    
                        </script>
                    @endpush
                <!--NOTIFICATIONS END-->
                <button type="button" id="mobile-toggle" class="navbar-toggle mobile-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
    


























<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <img style="width:80%" src="{{url('images/flarepoint_logo.png')}}" alt="" style="display: block; margin-left: auto; margin-right: auto; ">
            <a class="mobile-menu"  class="navbar-toggle menu-txt-toggle" id="mobile-collapse" href="javascript:"><span></span></a>

        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                    <a href="{{route('dashboard', \Auth::id())}}" class="nav-link "><span class="pcoded-micon"><i class="glyphicon sidebar-icon glyphicon-dashboard"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                        <a href="{{route('users.show', \Auth::id())}}" class="nav-link "><span class="pcoded-micon"><i class="glyphicon sidebar-icon glyphicon-user"></i></span><span class="pcoded-mtext">Profil</span></a>
                    </li>
                
                <li class="nav-item pcoded-menu-caption">
                    <label>UI Element</label>
                </li>
                
                @if(Entrust::can('user-read'))

                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    
                    <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-users"></i></span><span class="pcoded-mtext">Utilisateurs</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a style="" href="{{ route('users.index')}}" class="">{{ __('Users All') }}</a></li>
                        @if(Entrust::can('user-create'))
                        <li class=""> <a style="" href="{{ route('users.create')}}"
                            class="">{{ __('New User') }}</a></li>
                        @endif

                    </ul>
                </li>
                @endif


                @if(Entrust::can('client-read'))

                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    
                    <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-user-tie"></i></span><span class="pcoded-mtext">Clients</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a style="" href="{{ route('clients.my')}}" class="">{{ __('My Clients') }}</a>
                        </li>
                        <li class=""><a style="" href="{{ route('clients.index')}}" class="">{{ __('All Clients') }}</a>
                        </li>
                        @if(Entrust::can('client-create'))
                        <li class=""> <a style="" href="{{ route('clients.create')}}"
                            class="">{{ __('New Client') }}</a></li>
                            <li class=""> <a style="" href="/masseClient"
                                class="">{{ __('Masse Client') }}<span class="pcoded-badge label label-danger">NEW</span></a></li>

                        @endif

                    </ul>
                </li>
                @endif


                @if(Entrust::can('equipement-read'))

                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    
                    <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-truck"></i></span><span class="pcoded-mtext">Equipements</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a style=""href="{{ route('contacts.index')}}" class="">{{ __('Equipements') }}</a></li>
                        @if(Entrust::can('equipement-create'))
                        <li class="">  <a style="" href="{{ route('contacts.create')}}"
                            class="">{{ __('Nouvel equipement') }}</a></li>
                           
                        @endif

                    </ul>
                </li>
                @endif

                @if(Entrust::can('boitier-read'))

                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    
                    <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-hdd-o "></i></span><span class="pcoded-mtext">Boitiers</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a style="" href="{{ route('boitiers.index')}}" class="">{{ __('Boitiers') }}</a>
                        </li>
                        @if(Entrust::can('boitier-create'))
                        <li class=""><a style="" href="{{ route('boitiers.create')}}" class="">{{ __('Nouveau Boitier') }}</a>
                        </li>
                           
                        @endif

                    </ul>
                </li>
                @endif


                @if(Entrust::can('abonnement-read'))

                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    
                    <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-file"></i></span><span class="pcoded-mtext">Abonnements</span></a>
                    <ul class="pcoded-submenu">
                        <li class="">                <a style="" href="{{ route('abonnements.index')}}" class="">{{ __('Abonnements') }}</a>

                        </li>
                        @if(Entrust::can('abonnement-create'))
                        <li class=""> <a style="" href="{{ route('abonnements.create')}}" class="">{{ __('Nouvel Abonnement') }}</a>

                        </li>
                           
                        @endif

                    </ul>
                </li>
                @endif




                {{-- <li class="nav-item pcoded-menu-caption">
                    <label>Forms & table</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                    <a href="form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form elements</span></a>
                </li>
                <li data-username="Table bootstrap datatable footable" class="nav-item">
                    <a href="tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
                </li>--}}
                <li class="nav-item pcoded-menu-caption"> 
                    <label>Chart & Maps</label>
                </li>
                @if(Entrust::hasRole('administrator'))

                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    
                    <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-globe"></i></span><span class="pcoded-mtext">Pays</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""> <a style="" href="{{ route('pays.index')}}"
                            class="">{{ __('Tous les pays') }}</a> </li>
                        <li class="">                        <a style="" href="{{ route('pays.create')}}"
                            class="">{{ __('Ajouter un pays') }}</a>  </li>
                       

                    </ul>
                </li>
                @endif
                @if(Entrust::hasRole('administrator'))

                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    
                    <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-bars "></i></span><span class="pcoded-mtext">Departements</span></a>
                    <ul class="pcoded-submenu">
                        <li class="">  <a style="" href="{{ route('departments.index')}}"
                            class="">{{ __('All Departments') }}</a> </li>
                        <li class=""> <a style="" href="{{ route('departments.create')}}"
                            class="">{{ __('New Department') }}</a>  </li>
                       

                    </ul>
                </li>
                @endif
                @if(Entrust::hasRole('administrator'))

                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    
                    <a href="javascript:" class="nav-link "><i class="sidebar-icon fa fa-cogs "></i></span><span class="pcoded-mtext">Settings</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""> <a style="" href="{{ route('settings.index')}}"
                            class="">{{ __('Overall Settings') }}</a> </li>
                        <li class=""> <a style="" href="{{ route('roles.index')}}"
                            class="">{{ __('Role Management') }}</a></li>
                       

                    </ul>
                </li>
                @endif
                <li class="nav-item pcoded-menu-caption">
                    <label>Comptes</label>
                </li>
                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                    {{-- <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a> --}}
                    {{-- <ul class="pcoded-submenu">
                        <li class=""><a href="auth-signup.html" class="" target="_blank">Sign up</a></li>
                        <li class=""><a href="auth-signin.html" class="" target="_blank">Sign in</a></li>
                    </ul> --}}
                </li>
                <li data-username="Sample Page" class="nav-item"><a href="{{ url('/logout') }}" class="nav-link"><span class="pcoded-micon"><i class="sidebar-icon fa fa-power-off "></i></span><span class="pcoded-mtext">Se deconnecter</span></a></li> 
                {{-- <li data-username="Disabled Menu" class="nav-item disabled"><a href= class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Se deconnecter</span></a></li> --}}
            </ul>
        </div>
    </div>
</nav>
